dj_database_url==3.0.1
Django==5.2.7
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
python-decouple==3.8
replicate==1.0.7
gunicorn==22.0.0
whitenoise==6.7.0
psycopg[binary]==3.2.11
uvicorn==0.23.2
django-cors-headers==4.3.1
django-ratelimit==4.1.0

