.signin-page {
  background-color: #E4DCE0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 120px; /* To account for the fixed navbar */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .signin-container {
    padding-top: 80px;
  }
}
